
/**
 * Project:
 *   Contented7
 *
 * Designer:
 *   Tom Rowan, http://www.contenteddesigns.org/
 *
 * Developer:
 *   Edison Wong, http://edin.no-ip.com/
 *
 * Official Contented7 project page:
 *   http://www.contenteddesigns.org/templates/Contented7/
 *
 * Drupal Contented7 project page:
 *   http://drupal.org/project/contented7/
 *   http://pantarei.com.hk/projects/contented7/
 *
 * Sponsored by:
 *   http://pantarei.com.hk/
 */

html {
  direction: ltr; /* LTR */
}

/**
 * Generic elements
 */
body {
  direction: ltr; /* LTR */
  color: #333;
  background: #EEE;
  font-size: 83%;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-weight: normal;
  text-align: left; /* LTR */
  margin: 0 auto;
  padding: 0;
}
input {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  line-height: 100%;
}
textarea, select {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  line-height: 160%;
}
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 1em 0 .75em;
  padding: 0;
  font-weight: bold;
  font-family: Verdana, Tahoma, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.39em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5, h6 {
  font-size: 1em;
}
code, fieldset {
  margin: .75em 0;
}
pre {
  background: #CCC;
  border: 1px solid #DDD;
  font-size: 12px;
  padding: .75em 1.5em;
}
blockquote {
  margin: 1.5em 0;
}
p {
  margin: .6em 0 1.2em;
  padding: 0;
}
a:link {
  color: #C63;
  text-decoration: none;
}
a:visited {
  color: #663319;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: .5em 0 1em;
  padding: 0;
}
ol {
  margin: .75em 0 1.25em;
  padding: 0;
}
ol li, ul li {
  margin: .4em 0 .4em .5em; /* LTR */
}
ul.menu, .item-list ul {
  margin: .35em 0 0 -.5em; /* LTR */
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0; /* LTR */
}
ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: .15em 0 .15em .5em; /* LTR */
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em; /* LTR */
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}
ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}
ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}
ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em; /* LTR */
}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}
fieldset {
  padding: .5em;
  border: 1px solid #CCC;
}
fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}
dl {
  margin: .5em 0 1em 1.5em; /* LTR */
}
dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}
img, a img {
  border: none;
}
table {
  font-size: 1em;
  width: 100%;
}
thead th {
  font-weight: bold;
}
th a:link {
  color: #6F9DBD;
}
th a:visited {
  color: #374E5E;
}
td, th {
  padding: .3em .5em;
}
tr.even, tr.odd, tbody th {
  border-width: 1px 0;
}
tr.odd, tr.info {
  background-color: #FFF;
}
tr.even {
  background-color: #EEE;
}
tr.drag {
  background-color: #FFFFF0;
}
tr.drag-previous {
  background-color: #FFD;
}
tr.odd td.active {
  background-color: #DDECF5;
}
tr.even td.active {
  background-color: #E6F1F7;
}
td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #FFF;
  border-bottom: 1px solid #CCC;
  background-color: #D4E7F3;
  color: #455067;
  font-weight: bold;
}
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}
span.form-required {
  color: #FFAE00;
}
span.submitted, .description {
  font-size: .92em;
  color: #898989;
}
.description {
  line-height: 150%;
  margin-bottom: .75em;
  color: #898989;
}
.messages {
  margin: .75em 0;
  padding: .5em 1em;
}
.messages ul {
  margin: 0;
}
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: .25em 0;
}
#center form {
  margin-bottom: 2em;
}
.form-button, .form-submit {
  margin: 2em .5em 1em 0; /* LTR */
}
#dblog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}
.box {
  margin: 2.5em 0;
}
.meta,
.meta * {
  background: none;
  font-weight: normal;
  line-height: 20px;
  margin: .2em 0 0;
  padding: 0;
}
.meta {
  color: #AAA;
}
.meta-footer {
  text-align: right; /* LTR */
}

/**
 * Special image mapping
 */
blockquote {
  padding: 0 0 0 24px; /* LTR */
  background: url(images/blockquote.png) left top no-repeat; /* LTR */
  border: none;
}
.comment-new h3.title {
  float: left; /* LTR */
  background: url(images/new.png) right center no-repeat; /* LTR */
  padding: 2px 20px 2px 0; /* LTR */
}
.meta .editlink {
  float: right; /* LTR */
  width: 16px;
  height: 16px;
  background: url(images/pencil.png) center center no-repeat; /* LTR */
  padding: 2px;
}
.meta .submitted {
  background: url(images/date.png) left center no-repeat; /* LTR */
  font-size: 1em;
  padding: 0 0 0 18px; /* LTR */
}
.meta .terms ul.links li {
  background: url(images/tag_blue.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.blog_usernames_blog {
  background: url(images/user.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.book_add_child {
  background: url(images/book.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.print_html,
ul.links li.book_printer {
  background: url(images/printer.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.print_mail {
  background: url(images/email.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.print_pdf {
  background: url(images/page_white_acrobat.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_forbidden {
  background: url(images/comment.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_new_comments,
ul.links li.comment_reply,
ul.links li.comment_add {
  background: url(images/comment_add.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_delete {
  background: url(images/comment_delete.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_edit {
  background: url(images/comment_edit.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_comments {
  background: url(images/comments.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.node_read_more {
  background: url(images/page_white_text.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.statistics_counter {
  background: url(images/chart_curve.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.upload_attachments {
  background: url(images/disk.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}

/**
 * Layout
 */
#header-region {
  float: left;
  width: 100%;
  min-height: 20px;
}
#header-region .block-region {
  display: block;
  margin: 10px;
  padding: .5em;
}
#wrapper {
  float: left;
  width: 100%;
}
#wrapper #container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}
#wrapper #container #header {
  position: relative;
  height: 100px;
}
#wrapper #container #header #logo {
  position: relative;
  z-index: 2;
}
#wrapper #container #header #logo img {
  float: left; /* LTR */
  margin: 10px 0 0 10px; /* LTR */
}
#wrapper #container #header #slogan-floater {
  float: left; /* LTR */
  margin: 10px 0 0 10px; /* LTR */
  padding: 0;
}
#wrapper #container #header #slogan-floater .site-slogan {
  position: relative;
  float: left; /* LTR */
  clear: both;
}
#wrapper #container #header #slogan-floater .site-name {
  position: relative;
  z-index: 2;
}
#wrapper #container #header ul.primary-links {
  position: absolute;
  right: 0; /* LTR */
  bottom: 0;
  z-index: 1;
}
/* With 3 columns, require a minimum width of 1020px to ensure there is enough horizontal space. */
body.two-sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.no-sidebars,
body.sidebar-left,
body.sidebar-right {
  min-width: 760px;
}
/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#center {
  float: left;
  width: 100%;
  padding: 10px 0 0;
}
/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -210px;
}
body.sidebar-right #center {
  margin-right: -210px;
}
body.two-sidebars #center {
  margin: 0 -210px;
}
/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
  margin-left: 210px;
}
body.sidebar-right #squeeze {
  margin-right: 210px;
}
body.two-sidebars #squeeze {
  margin: 0 210px;
}
/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  width: 210px;
  float: left;
  font-size: 75%;
  padding: 10px 0 0;
  z-index: 2;
  position: relative;
}
#sidebar-left .block {
  padding-right: 10px;
}
#sidebar-right .block {
  padding-left: 10px;
}
.sidebar .block {
  margin: 0 0 10px;
}
.block .content {
  padding: 2px 5px;
}
.sidebar .block .content {
  border: #CCC solid 1px;
}
#sidebar-left .block-region {
  margin-right: 10px;
}
#sidebar-right .block-region {
  margin-left: 10px;
}
.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #CCC;
  text-align: center;
  font-size: 1.2em;
}
/* Now we add the backgrounds for the main content shading */
#center .node h1,
#center .node h2,
#center .node h3 {
  border-bottom: #CCC solid 1px;
}
#center h1.title,
#center h2.title,
#center .block h2.title {
  color: #333;
  margin: 15px 0;
  font-weight: bold;
  letter-spacing: -1px;
  border: none;
}
#center h2.title a {
  color: #333;
}
.block h2 {
  height: 16px;
  color: #EEE;
  background: #CCC;
  font-size: 1em;
  font-weight: normal;
  text-align: left; /* LTR */
  line-height: 16px;
  margin: 0;
  padding: 0 5px;
}
.block h2 a,
.block h2 a:hover {
  color: #EEE;
  text-decoration: none;
}
.sidebar .block-1 .content {
  border: #C63 solid 1px;
}
.sidebar .block-2 .content {
  border: #999 solid 1px;
}
.sidebar .block-3 .content {
  border: #F96 solid 1px;
}
.sidebar .block-4 .content {
  border: #C96 solid 1px;
}
.sidebar .block-1 h2 {
  background: #C63;
}
.sidebar .block-2 h2 {
  background: #999;
}
.sidebar .block-3 h2 {
  background: #F96;
}
.sidebar .block-4 h2 {
  background: #C96;
}
#footer {
  float: left;
  width: 100%;
  font-size: 75%;
  border-top: 3px solid #C63;
  text-align: center;
  line-height: 1.5em;
  margin: 10px 0 0;
}
#mission {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
#search-theme-form {
  margin: 0 0 10px;
}
#search-theme-form label {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Header
 */
#wrapper #container #header {
  color: #EEE;
  background: #C63;
}
#wrapper #container #header #slogan-floater h1.site-name {
  float: left; /* LTR */
  line-height: 1.2em;
  margin: 0 0 5px;
  padding: 0;
}
#wrapper #container #header #slogan-floater h1.site-name a {
  color: #EEE;
  background: #C63;
  font-weight: bold;
}
#wrapper #container #header #slogan-floater h1.site-name a:hover {
  text-decoration: underline;
}
#wrapper #container #header #slogan-floater .site-slogan {
  color: #EEE;
  background: #C63;
  font-size: 83%;
}

/**
 * Primary navigation
 */
ul.primary-links {
  display: block;
  color: #EEE;
  background: #C63;
  list-style: none;
  text-align: center;
  margin: 0 0 7px;
  padding: 0;
}
ul.primary-links li {
  float: left; /* LTR */
  height: 20px;
  line-height: 20px;
  margin: 0 5px 0 0; /* LTR */
  padding: 0;
}
ul.primary-links li a {
  display: block;
  color: #EEE;
  background: #C63;
  text-decoration: none;
  padding: 1px 8px;
}
ul.primary-links li a:hover,
ul.primary-links li a.active {
  border: 1px solid #EEE;
  text-decoration: none;
  padding: 0 7px;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li {
  background: none;
  margin: 1em 0;
  padding: 0;
}
ul.secondary, ul.secondary li {
  background: none;
  margin: .5em 0;
}

/**
 * Nodes & comments
 */
.node {
  margin: 0 0 30px;
}
ul.links li, ul.inline li {
  font-size: 1em;
  line-height: 20px;
  margin: 0 1em 0 0; /* LTR */
  padding: 0;
  background-image: none;
}
.picture {
  border: none;
  float: right; /* LTR */
  margin: 0 0 .5em .5em; /* LTR */
}
.sticky {
  padding: .5em;
  border: 1px solid #CCC;
}
.comment {
  border: 1px solid #CCC;
  margin: 1em 0 0;
  padding: .5em;
}
.indented {
  margin-left: 25px; /* LTR */
}
.node .content, .comment .content {
  margin: .6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item-title a {
  color: #333;
}
#aggregator .feed-item {
  border-bottom: 1px solid #CCC;
  margin: -1.5em 0 1.75em;
  padding: 1.5em 0;
}
#aggregator .feed-item-categories {
  font-size: .92em;
}
#aggregator .feed-item-meta {
  font-size: .92em;
  color: #CCC;
}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {
  background-color: #FFF;
}
tr.even td.menu-disabled {
  background-color: #FFF;
}

/**
 * OpenID.module
 */
#user-login-form li.openid-link,
#user-login li.openid-link {
  background-position: left center; /* LTR */
  margin: 0;
  padding: 2px 0 2px 18px; /* LTR */
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  font-size: .92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: .45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #FFF;
  border: 1px solid #B8D3E5;
}
.preview {
  background-color: #FCFCE8;
  border: 1px solid #E5E58F;
}
div.status {
  color: #33A333;
  border-color: #C7F2C8;
}
div.error, tr.error {
  color: #A30000;
  background-color: #FCC;
}
.form-item input.error, .form-item textarea.error {
  border: 1px solid #C52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #FCF9E5;
}
tr.dblog-user td.active {
  background-color: #FBF5CF;
}
tr.dblog-content {
  background-color: #FEFEFE;
}
tr.dblog-content td.active {
  background-color: #F5F5F5;
}
tr.dblog-warning {
  background-color: #FDF5E6;
}
tr.dblog-warning td.active {
  background-color: #FDF2DE;
}
tr.dblog-error {
  background-color: #FBE4E4;
}
tr.dblog-error td.active {
  background-color: #FBDBDB;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #D7FFD7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #C7EEC7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #FCC;
  border-color: #EBB;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #FFD;
  border-color: #EEB;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #DFD;
  border-color: #BEB;
}
